{% load static %}

 <!-- ##### Hero Area Start ##### -->
    <div class="hero-area" id="Home">
        <div class="hero-slideshow owl-carousel">

            <!-- Single Slide -->
            <div class="single-slide bg-img">
                <!-- Background Image-->
                <div class="slide-bg-img bg-img bg-overlay" style="background-image: url({% static 'img/bg-img/1.jpg' %});"></div>
                <!-- Welcome Text -->
                <div class="container h-100">
                    <div class="row h-100 align-items-center justify-content-center">
                        <div class="col-12 col-lg-9">
                            <div class="welcome-text text-left">
                                <h2 data-animation="fadeInUp" data-delay="300ms">
                                    Nós ajudamos pequenas empresas A crescer
                                </h2>
                                <p data-animation="fadeInDown" data-delay="500ms">
                                    Sabia que é possível participar da maior rede de networking com empresas de sucesso que ajudarão a crescer o teu negócio?.
                                </p>
                                <a href="#grat"  class="btn btn-primary credit-btn mt-50 js-scroll-trigger" data-animation="fadeInUp" data-delay="700ms">Saber Mais</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Slide Duration Indicator -->
                <div class="slide-du-indicator"></div>
            </div>

            <!-- Single Slide -->
            <div class="single-slide bg-img">
                <!-- Background Image-->
                <div class="slide-bg-img bg-img bg-overlay" style="background-image: url({% static 'img/bg-img/5.jpg' %});"></div>
                <!-- Welcome Text -->
                <div class="container h-100">
                    <div class="row h-100 align-items-center justify-content-center">
                        <div class="col-12 col-lg-9">
                            <div class="welcome-text text-left">
                                <h2 data-animation="fadeInDown" data-delay="300ms">Faça crescer o seu negócios conosco</h2>
                                 <a href="#services"  class="btn btn-primary credit-btn mt-50 js-scroll-trigger" data-animation="fadeInUp" data-delay="700ms">Saber Mais</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Slide Duration Indicator -->
                <div class="slide-du-indicator"></div>
            </div>

            <!-- Single Slide -->
            <div class="single-slide bg-img">
                <!-- Background Image-->
                <div class="slide-bg-img bg-img bg-overlay" style="background-image: url({% static 'img/bg-img/1.jpg' %});"></div>
                <!-- Welcome Text -->
                <div class="container h-100">
                    <div class="row h-100 align-items-center justify-content-center">
                        <div class="col-12 col-lg-9">
                            <div class="welcome-text text-left">
                                <h2 data-animation="fadeInDown" data-delay="300ms">Balcão Digital</h2>
                                <p data-animation="fadeInDown" data-delay="500ms">Sabias que pode depositar para a sua conta ou de terceitos no Standard Bank?
                                Trata-se de um espaço onde os clientes poderão efectuar todas as transacções de um balcão de atendimento tradicional,
                                    mas com maior autonomia e sem a intervenção de operadores do balcão ou gestores bancários.</p>
                                <a href="#" class="btn credit-btn mt-50 btn-primary" data-animation="fadeInDown" data-delay="700ms">Saber mais</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Slide Duration Indicator -->
                <div class="slide-du-indicator"></div>
            </div>

            <!-- Single Slide -->


        </div>
    </div>