{% extends 'base.html' %}
{% load static %}
{% block title %} {{ service.title }} {% endblock title %}

{% block body %}
    {% include 'includes/navbar.html' %}

<section class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url({% static 'img/1.jpg' %});">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcrumb-content">
                        <h2>{{service.title}}</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">{{service.sub_title | safe}}</a></li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock body %}